<body>
  {{> navbar}}
</body>

<template name="main_layout">
  <div class="main-content">
    {{> yield}}
  </div>
  <div class="footer grey-text text-lighten-4 right">
    <div class="container">
      © 2020 Jira WorkTime, All rights reserved.
      <!-- <a class="grey-text text-lighten-4 right" href="https://bitbucket.org/emerson-schulze/worktime">Bitbucket</a> -->
    </div>
  </div>
</template>

<template name="navbar">
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper" style="background-color: #ac0b83">
        <a class="brand-logo center">Jira WorkTime</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          {{#if currentUser}}
          <li><a id="refreshJiraIssues"><i class="material-icons left">refresh</i>Recarregar issues</a></li>
          <li><a id="perfil" href="/perfil"><i class="material-icons left">account_box</i>Perfil</a></li>
          <li><a id="logout"><i class="material-icons left">exit_to_app</i>Sair</a></li>
          {{/if}}
        </ul>
      </div>
    </nav>
  </div>
</template>