<template name="login">
    {{#if currentUser}}
    <div class="row">
        <div class="section"></div>
        <div class="section"></div>
        <div class="section"></div>
        <div class="col m12 center-align">
            <a class="pulse btn z-depth-5" href="/worklogger"><i class="material-icons left">access_time</i>Iniciar
                Apontamentos</a>
        </div>
    </div>
    {{else}}
    <div class="container">
        <div class="row">
            <div class="section"></div>
            <div class="section"></div>
            <div class="col s12 m4 offset-m4 center-align z-depth-5 grey lighten-4">

                <div class="row">
                    <div class="col s12">
                        <ul class="tabs">
                            <li class="tab col s6"><a class="active" href="#t2">LOGIN</a></li>
                        </ul>
                    </div>
                    <div id="t2" class="col s12">
                        {{ > loginAccount}}
                    </div>

                </div>
            </div>
        </div>
    </div>
    {{/if}}
</template>

<template name="loginAccount">
    <div class="section"></div>

    <div class="row">
        <h4> Entrar </h4>
    </div>

    <div class="row">
        <form class="col s10 offset-m1">
            <div class="row">
                <div class="input-field col s12">
                    <input id="login" type="text" class="validate">
                    <label for="login">Usuário</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="password" type="password" class="validate">
                    <label for="password">Password</label>
                </div>
            </div>
            <div class="row">
                <div class="col m12">
                    <button class="btn btn-large waves-effect waves-light" type="submit">Login</button>
                </div>
            </div>
        </form>
        <div class="row">
            <div class="col m12">
                <a id="register" class="waves-effect waves-teal btn-flat">Registrar</a><br>
                <a id="forgotPass" class="waves-effect waves-teal btn-flat">Esqueceu sua Senha?</a>
            </div>
        </div>
    </div>
</template>

<template name="loginLDAP">
    <div class="section"></div>

    <div class="row">
        <h4> Sign In </h4>
    </div>

    <div class="row">
        <form class="col s10 offset-m1">
            <div class="row">
                <div class="input-field col s12">
                    <input id="login" type="text" class="validate">
                    <label for="login">LDAP Username</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="password" type="password" class="validate">
                    <label for="password">Password</label>
                </div>
            </div>
            <div class="row">
                <div class="col m12">
                    <button class="btn btn-large waves-effect waves-light" type="submit">Login</button>
                </div>
            </div>
        </form>
    </div>
</template>

<template name="register">
    <div class="container">
        <div class="row">
            <div class="section"></div>
            <div class="section"></div>
            <div class="col s12 m6 offset-m3 center-align z-depth-1 grey lighten-4">
                <div class="section"></div>

                <div class="row">
                    <h4> Criar sua conta </h4>
                </div>

                <div class="row">
                    <form class="col s12">
                        <div class="row">
                            <div class="input-field col s10 offset-m1">
                                <input id="email" type="email" class="validate" required>
                                <label for="email">E-mail Jira</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s10 offset-m1">
                                <input id="password" type="password" class="validate" required>
                                <label for="password">Password</label>
                            </div>
                        </div>
                        <div class="row">

                            <div class="input-field col s11 offset-m1">
                                <div class="row col s11">
                                    <input id="jiratoken" type="password" class="validate" required>
                                </div>
                                <label for="jiratoken">Jira Token</label>
                                <div class="row col s1">
                                    <button id='btn-div' class="btn-floating"><i
                                            class="material-icons">help_outline</i></button>
                                </div>
                            </div>

                            <div id="video">
                                <video controls width="400" height="300">
                                    <source src="ApiToken.webm" type="video/webm">
                                </video>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col m12">
                                <button class="btn btn-large waves-effect waves-light" type="submit">Registrar</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col m12">
                                <a href="/"
                                    class="modal-action modal-close waves-effect waves-green btn-flat">Voltar</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="resetpass">
    <div class="container">
        <div class="row">
            <div class="section"></div>
            <div class="section"></div>
            <div class="col s12 m4 offset-m4 center-align z-depth-1 grey lighten-4">
                <div class="section"></div>

                <div class="row">
                    <h4> Resetar sua senha </h4>
                </div>

                <div class="row">
                    <form class="col s12">
                        <div class="row">
                            <div class="input-field col s10 offset-m1">
                                <input id="email" type="email" class="validate">
                                <label for="email">E-mail</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col m12">
                                <button id="forgot" class="btn btn-large waves-effect waves-light" type="button">Enviar
                                    E-mail</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col m12">
                                <a href="/"
                                    class="modal-action modal-close waves-effect waves-green btn-flat">Voltar</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div id="modal1" class="modal">
            <div class="modal-content">
                <h4>E-mail Enviado!</h4>
                <p>Verificar caixa de entrada!</p>
            </div>
            <div class="modal-footer">
                <a href="/" class="modal-action modal-close waves-effect waves-green btn-flat">OK</a>
            </div>
        </div>
    </div>
</template>