<template name="perfil">
    <div class="container">

        <div class="section"></div>
        <div class="section"></div>
        <div class="col s12 m4 offset-m4 center-align z-depth-5 grey lighten-4">

            <div class="row">
                <div class="col s12">
                    <ul class="tabs">
                        <li class="tab col s6"><a class="active ptext" href="#t1">Minhas Issues</a></li>
                        <li class="tab col s6"><a href="#t2" class="ptext">Segurança</a></li>
                    </ul>
                </div>
                <div id="t1" class="col s12">
                    {{ > demanda}}
                </div>
                <div id="t2" class="col s12">
                    {{ > dados}}
                </div>

            </div>
        </div>
    </div>
</template>

<template name="dados">
    <div class="container">
        <div class="row">

            <div class="section"></div>
            <div class="col s12 m4 offset-m4 center-align z-depth-1 grey lighten-4">
                <div class="section"></div>

                <div class="row">
                    <h4> Alterar Token </h4>
                </div>

                <div class="row">
                    <form class="col s12">
                        <div class="row">
                            <div class="input-field col s10 offset-m1">
                                <input id="newtoken" type="password" class="validate" required>
                                <label for="newtoken">Novo Jira Token</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col m12">
                                <button class="btn btn-large waves-effect waves-light" type="submit">Alterar</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col m12">
                                <a href="/"
                                    class="modal-action modal-close waves-effect waves-green btn-flat">Voltar</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="demanda">
    <div>
        <table class="responsive-table bordered highlight">
            <thead>
                <tr class="table-active card-panel ">
                    <th class="col s2">Issue<i class="material-icons left">vpn_key</i></th>
                    <th class="col s4">Descrição<i class="material-icons left">dvr</i></th>
                    <th class="col s2">Tempo Gasto<i class="material-icons left">timelapse</i></th>
                    <th class="col s2">Status<i class="material-icons left">work</i></th>
                    <th class="col s2">Tipo Issue<i class="material-icons left">local_offer</i></th>
                </tr>
            </thead>
            <tbody>
                {{ #each record }}
                <tr>
                    <td class="col s2">{{ issue }}</td>
                    <td class="col s4">{{ descricao }}</td>
                    <td class="col s2">{{ tempo }}</td>
                    <td class="col s2">{{ status }}</td>
                    <td class="col s2">{{ tipo }}</td>
                </tr>
                {{ /each }}
            </tbody>
        </table>
        <div class="section"></div>
        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="col m12">
                        <a href="/" class="waves-effect waves-light btn">Voltar</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>