<template name="work">
  <div class="row z-depth-3 grey lighten-5 worklog" style="padding-top:1em">
    <div class="input-field col s2">
      <input id="issue" type="text" class="autocomplete" value="{{issue}}">
      <label for="autocomplete-input" class="active">Issue</label>
    </div>

    <div class="input-field col s2">
      <input type="text" class="datepicker" value="{{formatDate startDate}}">
      <label for="inicio-date" class="active">Data</label>
    </div>

    <div class="input-field col s1">
      <input id="inicio-time" class="time" type="text" value="{{formatTime startDate}}">
      <label for="inicio-time" class="active">Inicio</label>
    </div>

    <div class="input-field col s1">
      <input id="fim-time" type="text" class="time" value="{{formatTime endDate}}">
      <label for="fim-time" class="active">Fim</label>
    </div>

    <div class="input-field col s1">
      <input id="timeSpent" type="text" value="{{timeSpent startDate endDate}}" disabled>
      <label for="timeSpent" class="active">Trabalhado</label>
    </div>

    <div class="input-field col s4">
      <input id="comment" type="text" value="{{comment}}">
      <label for="comment" class="active">Comentário</label>
    </div>

    <div class="input-field col s1 center-align">
      <a id="remove" class="btn-floating red lighten-2">
        <i class="material-icons">delete_forever</i>
      </a>
    </div>
  </div>
</template>