<template name="worklogger">
  <div class="container" style="margin-top:1em;">
    <div class="row">
      <div class="input-field col s12 center">
        <a id="new_work" class="btn-floating btn-large pulse"><i class="material-icons">timer</i></a>
      </div>
    </div>

    {{#each works}}
    {{> work}}
    {{/each}}

    {{#if works.count}}
    <div class="row center-align" style="margin-bottom: 4em;">
      <div class="col s12">
        <div class="card blue-grey darken-1">
          <div class="card-content white-text">

            <div class="row center-align">
              {{#each dateWithLog}}
              {{> datelog}}
              {{/each}}
            </div>

            <button id="enviar" class="btn waves-effect waves-light" type="submit" name="action">
              Enviar
              <i class="material-icons right">send</i>
            </button>
          </div>
        </div>
      </div>
    </div>
    {{/if}}
  </div>
</template>

<template name="datelog">
  <div class="chip">
    <img src="images/clock.png" alt="Total Time" />
    Total dia : {{getTotalTime this}}
  </div>
</template>