
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="%PUBLIC_URL%/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" charset="utf-8"  />
    <meta http-equiv="Content-Security-Policy" content="default-src *; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' 'unsafe-eval'">
    
        
    <meta name="theme-color" content="#ffffff">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">

    <link rel="manifest" href="%PUBLIC_URL%/manifest.json" />

    <link rel="apple-touch-icon" sizes="192x192" href="%PUBLIC_URL%/logo-to-iphone.png" />
    <link rel="apple-touch-icon" sizes="384x384" href="%PUBLIC_URL%/logo-to-iphone@2x.png" />
    <link rel="apple-touch-icon" sizes="512x512" href="%PUBLIC_URL%/logo-to-iphone@3x.png" />

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"> </script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery.devbridge-autocomplete/1.2.27/jquery.autocomplete.min.js"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/excite-bike/jquery-ui.css">

  <script src="//code.jquery.com/jquery-3.5.1.js"></script>
  <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>

   <!-- SPLASH SCREEN IOS -->

      <!-- IPHONE XR, 11-->
      <link rel="apple-touch-startup-image" href="%PUBLIC_URL%/launch828x1792.png"
        media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2)" />

      <!-- IPHONE 11 PRO MAX, XS MAX -->
      <link rel="apple-touch-startup-image" href="%PUBLIC_URL%/launch1242x2688.png"
        media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3)" />

        <!-- IPHONE 11 PRO, XS, X -->
      <link rel="apple-touch-startup-image" href="%PUBLIC_URL%/launch1242x2436.png"
        media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3)" />

        <!-- IPHONE 8,7,6,6s (plus) -->
      <link rel="apple-touch-startup-image" href="%PUBLIC_URL%/launch1125x2436.png"
      media="(device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 2)" />

      <!-- IPHONE 8,7,6,6s (normal) -->
      <link rel="apple-touch-startup-image" href="%PUBLIC_URL%/launch750x1334.png"
      media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2)" />

      <!-- IPAD PRO 12.9 -->
      <link rel="apple-touch-startup-image" href="%PUBLIC_URL%/launch2048x2732.png"
      media="(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2)" />

      <!-- IPAD PRO 11 -->
      <link rel="apple-touch-startup-image" href="%PUBLIC_URL%/launch1668x2388.png"
      media="(device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2)" />

      <!-- IPAD PRO 10.5 -->
      <link rel="apple-touch-startup-image" href="%PUBLIC_URL%/launch1668x2224.png"
      media="(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2)" />

      <!-- IPAD MINI, AIR -->
      <link rel="apple-touch-startup-image" href="%PUBLIC_URL%/launch1536x2048.png"
      media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2)" />

    <!-- END SPLASH SCREEN IOS -->

    <link href="https://fonts.googleapis.com/css2?family=Lilita+One&display=swap" rel="stylesheet">

    <title>Jira Timer</title>
  </head>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root"></div>
  </body>
