/* CSS declarations go here */
body {
  background-image:url('/images/p2.jpg');
  font-family:Roboto;
}

.footer {
	padding-bottom: 0px;
	position:fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #ac0b83;
  text-align: center;
	width: 100%;
  z-index: 1;
}

.worklog {
  border-radius: 0.5em;
  padding: 0.2em;
}

h4 {
  color:#3e88ad;
}

.autocomplete-content {
  position: absolute;
}

.dropdown-content {
  min-width: 100vh;
}

.card-content {
  background-color:#083950;
}

.btn-floating {
  background-color: #ac0b83;
}

tbody {
  display:block;
  height:250px;
  overflow:auto;
  }
  thead, tbody tr {
  display:table;
  width:100%;
  table-layout:fixed;
  background-color:#a3cbd4;
  }
  thead {
  width:100%;
  }
  table {
  width:100%;
  }
  
  .table-active{
    background-color:#b86aa3;
  }
  
  #video {
    display: none;
}

#btn-div{
  float:right;
}
    

  

  